/* Style Cart */
.gutter-example .ant-row > div {
  background: white;
  border: 0;
}
.gutter-row{
  min-height: 60vh
}
.ant-card-actions > li > span {
  cursor : auto;
}
.cart{
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.search{
  width: 50%;
  display: 'block';
  background-color:#001529;
  color: white;
}

/* Style Product*/
.imageProduct-list{
  height: 10vmin;
}

/* Style Category */

/* Style Setting */
.profil-image{
  min-height: 30vh;
  min-width: 15vw;
}
.row-profil{
  padding-top: 20px;
  padding-left: 30px;
}
.title{
  font-size:20px;
  color : black;
}