/* Style Cart */
.gutter-example .ant-row > div {
  background: white;
  border: 0;
}
.gutter-row{
  min-height: 60vh
}
.ant-card-actions > li > span {
  cursor : auto;
}
.cart{
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.search{
  width: 50%;
  display: 'block';
  background-color:#001529;
  color: white;
  margin-right: 10px;
}
.select-sort{
  width: 50%;
  border-radius: 5px;
  background-color: rgb(0, 21, 41);
  color: #b7b5b5;
}
.ant-select-selection--single {
  background-color: transparent;
}
.meta-card{
  margin-bottom: 10px;
}
.number-format {
  font-weight: 600;
}
.number-format-cart {
  font-weight: 600;
  padding-left:10px;
  color:white;
}
.add-cart:hover{
  cursor: 'pointer';
  background: #b0d8e8;
}
.button-checkout{
  width: 100%;
  border-radius: 0;
  background: #001529;
  color: white;
  height: 40px;
  font-weight: 600;
  font-size: initial;
}
.quantity-input{
  width: 50px;
  float: left;
  margin-left: 5px;
  margin-right: 7px;
}
.ant-card-body .card-cart {
  width: 350px;
}

/* Style Product*/
.imageProduct-list{
  height: 10vmin;
  width: 20vmin;
}
.ant-card-cover img {
  border-radius: 2px 2px 0 0;
  height: 150px;
}
.ant-card-body {
    padding: 24px;
    zoom: 1;
    min-height: 160px;
}
.button-group-product{
  margin-top: 5px; 
  margin-left: 5px;
  width: 100%;
}

.text-qty{
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid black;
  background-color: black;
}

/* Style Setting */
.profil-image{
    min-height: 150px;
    min-width: 20vw;
    margin-top:20px;
}
.row-profil{
  padding-top: 20px;
  padding-left: 10px;
}
.title{
  font-size:20px;
  color : black;
}