.col-logo {
  min-height: 100vh;
  font-size:5vw;
  /* float : left;
  width : 50%; */
  background: #141E30;
  background: -webkit-linear-gradient(to left, #141E30, #243B55);
  background: linear-gradient(to left, #141E30, #243B55);
}
.text{
  font-size:3vw;
  color : white;
}
.image {
  height: 70vmin;
}
.col-form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* float : right;
  width : 50%; */
  background: #141E30;
  background: -webkit-linear-gradient(to left, #243B55, #141E30);
  background: linear-gradient(to left, #243B55, #141E30);
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.auth {
  text-align: center;
  background: #141E30;
  background: -webkit-linear-gradient(to left, #141E30, #243B55);
  background: linear-gradient(to left, #141E30, #243B55);
}
.div-auth{
  margin-right: 150px;
}
.auth-form {
    min-width: 80vmin;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
    border-radius: 1em;
    /* background-color: white; */
  }
  .login-form-forgot {
    float: right;
  }
  .auth-form-button {
    min-width: 100%;
  }
  .auth-anchor{
    background-color : 'rgba(255,255,255,0)';
    border-radius: 1em;
  }